<!DOCTYPE html>
<html>
  <head>
    <title>Cocktail Basket</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script defer src="/javascripts/home.js"></script>
  </head>
  <body>
    <%- include('../partials/navbar') %>

    <div class="card-deck main row row-cols-3 row-cols-md-5">
      <% if(cocktails.length > 0) { %> <% cocktails.forEach(c => { %>
      <div class="col mb-4">
        <div class="card">
          <img src="<%= c.drinkThumb %> " class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title"><%= c.name %></h5>
            <p class="card-text">
              <%= c.glass %>
            </p>
            <p class="card-text">
              <%= c.alcoholic===true? 'Alcoholic Drink':"Non Alcoholic Drink" %>
            </p>
          </div>
          <div class="card-footer text-right">
            <a class="btn btn-outline-info btn-sm" href="/cocktails/<%= c._id%>"
              >Show Detail</a
            >
          </div>
        </div>
      </div>
      <% }) } else {%>
      <div class="col mb-4">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Database is empty, seed the database</h5>

            <form action="/seed/cocktails" method="POST">
              <button type="submit" class="btn btn-warning">Seed Data</button>
            </form>
          </div>
          <div class="card-footer text-right">
            <a class="" href="#"></a>
          </div>
        </div>
      </div>
      <% }%> <% if (user) { %>
      <div class="col mb-4">
        <div class="card text-center">
          <img
            src="https://www.thecocktaildb.com/images/media/drink/vysuyq1441206297.jpg/preview"
            class="card-img-top addCocktail"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Add your own cocktail</h5>
            <p class="card-text"></p>
            <p class="card-text"></p>

            <button
              type="button"
              class="btn btn-primary"
              data-toggle="modal"
              data-target="#addCocktailModal"
            >
              Add
            </button>
          </div>
          <div class="card-footer text-right">
            <a class="" href="#"></a>
          </div>
        </div>
      </div>
      <% } %>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="addCocktailModal"
      data-backdrop="static"
      data-keyboard="false"
      tabindex="-1"
      role="dialog"
      aria-labelledby="addCocktailModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addCocktailModalLabel">
              Add more cocktail
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/cocktails/add" method="POST">
              <!-- Cocktail Name -->
              <div class="form-group">
                <label for="recipient-name" class="col-form-label"
                  >Cocktail Name:</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="cocktail-name"
                  name="name"
                  required
                />
              </div>
              <!-- Alcoholic Drink -->
              <div class="form-group">
                <label for="recipient-name" class="col-form-label"
                  >Contain Alcohol:</label
                >
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="alcoholic"
                    id="yes"
                    value="yes"
                    required
                  />
                  <label class="form-check-label" for="yes">
                    Yes
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="alcoholic"
                    id="no"
                    value="no"
                  />
                  <label class="form-check-label" for="no">
                    No
                  </label>
                </div>
              </div>
              <!-- Glass -->
              <div class="form-group">
                <label for="glass">Glass</label>
                <select class="form-control" id="glass" name="glass">
                  <option>Old-fashioned glass</option>
                  <option selected>Cocktail glass</option>
                  <option>Copper Mug</option>
                  <option>Highball glass</option>
                </select>
              </div>
              <!-- Image -->
              <div class="form-group">
                <label for="drinkThumb">Cocktail Image</label>
                <textarea
                  class="form-control"
                  id="drinkThumb"
                  rows="1"
                  name="drinkThumb"
                ></textarea>
              </div>
              <!-- Instruction -->
              <div class="form-group">
                <label for="instruction">Instruction</label>
                <textarea
                  class="form-control"
                  id="instruction"
                  rows="2"
                  name="instruction"
                ></textarea>
              </div>
              <!-- Ingredient -->
              <div class="ingredientList">
                <div class="form-group row">
                  <label for="ingredient" class="col-sm-3 col-form-label"
                    >Ingredient</label
                  >
                  <div class="col-sm-4">
                    <input
                      type="text"
                      class="form-control"
                      id="measure"
                      name="measure"
                      placeholder="Ex: 1 oz"
                      required
                    />
                  </div>
                  <div class="col-sm-5">
                    <input
                      type="text"
                      class="form-control"
                      id="ingredient"
                      name="ingredient"
                      placeholder="Example: Gin"
                      required
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="ingredient" class="col-sm-3 col-form-label"
                    >Ingredient</label
                  >
                  <div class="col-sm-4">
                    <input
                      type="text"
                      class="form-control"
                      id="measure"
                      name="measure"
                      placeholder="Ex: 1 oz"
                      required
                    />
                  </div>
                  <div class="col-sm-5">
                    <input
                      type="text"
                      class="form-control"
                      id="ingredient"
                      name="ingredient"
                      placeholder="Example: Gin"
                      required
                    />
                  </div>
                </div>
              </div>
              <button class="btn btn-outline-info" id="addMore" type="button">
                Add
              </button>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Close
                </button>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
